/* logo */
/* BG images */
/* patterns */
/* colours */
/* fonts */
/* banners */
/* set styles */
/* alignment utilities */
/* ########################### Browser reset ########################### */
html,
body {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
body,
body * {
  z-index: 0;
  outline: 0;
  border: 0 none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  list-style-type: none;
}
/* ############################# main tags ############################# */
body {
  background-color: grey;
}
main {
  position: relative;
  width: 100%;
}
main.editor article {
  background-color: #c1bfc1;
}
main.contact article {
  background-color: #7bb2fc;
}
main.contact article p {
  color: white;
  font-size: 20px;
}
main.contact article p > img {
  margin-right: 20px;
}
header,
footer {
  position: relative;
  background-color: #423f42;
  background-image: url(../images/noise.svg);
  background-repeat: repeat;
  width: 100%;
}
form.login {
  box-shadow: 0 0 10px #000;
}
textarea {
  width: 100%;
  min-height: 200px;
}
input {
  background-color: transparent;
  color: inherit;
}
header {
  z-index: 2;
  height: 100px;
  padding: 1.1% 0 1.1% 0;
  box-shadow: 0 0 10px #000;
  /*  nav styles  */
  /* nav*/
}
@media screen and (max-width: 1188px) {
  header {
    height: 120px;
  }
}
@media screen and (max-width: 983px) {
  header {
    height: 180px;
  }
}
@media screen and (max-width: 572px) {
  header {
    height: 500px;
  }
}
header.editor {
  height: 25%;
}
header nav {
  min-width: 200px;
  float: right;
  min-height: 50px;
  /* /li */
}
@media screen and (max-width: 572px) {
  header nav {
    clear: both;
    float: none;
  }
}
header nav ul {
  clear: both;
}
header nav li {
  position: relative;
  float: left;
  text-transform: uppercase;
}
header nav li:not(.english) {
  padding: 24px 80px 0 0;
}
header nav li.english {
  padding: 0 ;
}
header nav li.login {
  padding: 0;
}
@media screen and (max-width: 572px) {
  header nav li {
    clear: both;
    float: none;
    min-height: 70px;
  }
}
header nav li span a {
  color: grey;
}
@media screen and (max-width: 572px) {
  header nav li span a {
    font-size: 20px;
  }
}
header nav li span a > small {
  color: #ffe57d;
}
header nav li.active a {
  color: white;
}
header nav li.active a > small {
  color: #fff9e3;
}
header nav li b {
  font-weight: bolder;
}
header nav li small {
  font-weight: lighter;
}
header nav .icon {
  width: 14px;
}
footer {
  min-height: 25px;
  padding: 14px 0 ;
}
footer p {
  color: #908a90;
  font-size: 16px;
  font-weight: bold;
}
footer input {
  color: #dad9da;
  font-size: 18px;
  margin-right: 30px;
}
footer input:last-child {
  margin-right: 0;
}
footer .icon {
  width: 20px;
  margin-right: 8px;
}
article {
  z-index: 2;
  min-height: 420px;
  width: 100%;
  background-image: url(../images/swirls.svg);
  background-repeat: repeat;
  background-color: white;
  box-shadow: 0 0 10px #000;
  padding: 2% 0;
}
article.CTA_area {
  background-color: #4ab3fa;
  text-align: right;
}
article.CTA_area p {
  font-size: 18px;
}
article.CTA_area p strong {
  color: white;
  font-size: 20px;
}
h1 {
  color: white;
  text-align: center;
  width: auto;
  font-size: 100px;
  text-shadow: 0 0 5px #000;
  /*  logo  */
}
@media screen and (max-width: 572px) {
  h1 {
    font-size: 60px;
  }
}
h1 > small {
  font-size: 50px;
  color: white;
  text-shadow: 0 0 5px #000;
  text-align: left;
}
h1.logo {
  float: left;
  display: block;
  min-height: 50px;
  min-width: 129px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
h1.logo a {
  background: url(../images/Rodem_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline;
  width: 129px;
  height: 50px;
  display: block;
  text-indent: -9999px;
}
h1,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
}
p {
  font-family: 'Roboto Slab', serif;
  font-size: 14;
  color: #423f42;
  margin: 0 0 2% 0;
}
a {
  color: grey;
}
small {
  font-size: smaller;
  font-weight: lighter;
  color: #767176;
}
th {
  border-bottom: 5px solid #189ef9;
}
td {
  padding: 1%;
}
td > input {
  width: 20px;
}
td > strong {
  margin: 20px;
}
tr:not(:first-child) {
  background-color: #ffe57d;
}
tr:nth-child(2) {
  background-color: #ffe063;
}
/* ############################# utility classes ############################# */
.mobile_menu {
  display: none;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.arrow_right {
  /* Thanks to css-tricks.com/snippets/css/css-triangle/ Note: must be block element*/
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #111437;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.center-block {
  float: none;
}
.breadcrumb {
  background-color: transparent;
  color: lightgrey;
}
.btn {
  position: relative;
  margin: 3% 0;
  border-radius: 0;
  padding: 3px 12px;
  background-color: #333333;
  box-shadow: 0 4px #000000;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.btn:active {
  top: 4px;
  box-shadow: none;
}
.btn.btn-CTA {
  background-color: #ff694c;
  box-shadow: 0 4px #992500;
  text-shadow: 0 -1px #992500;
}
.btn.btn-CTA:active {
  top: 4px;
  box-shadow: none;
}
.btn.btn-CTA:visited {
  color: white;
}
.btn.btn-CTA:hover {
  color: #ffffff;
}
.btn.btn-ADD {
  padding: 3px 10%;
  background-color: #189ef9;
  box-shadow: 0 4px #00305e;
  text-shadow: 0 -1px #00305e;
}
.btn.btn-ADD:active {
  top: 4px;
  box-shadow: none;
}
.btn.btn-ADD:visited {
  color: white;
}
.btn.btn-ADD:hover {
  color: #94d2fc;
}
.user-type {
  color: #837d83;
  font-weight: lighter;
  font-family: 'Roboto Condensed', sans-serif;
}
.banner {
  height: 50%;
}
/* accordion */
.rotate_90 {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.accordion_tab {
  color: white;
}
.accordion_tab.fellowship {
  background-color: #189ef9;
}
.accordion_tab.social {
  background-color: #f9427c;
}
.accordion_tab > h2 {
  text-align: center;
}
.accordion_tab > .arrow_right {
  float: right;
  margin-right: 100px;
  margin-top: 8px;
}
.accordion_tab + * {
  clear: both;
  overflow: hidden;
  max-height: 900px;
  padding-bottom: 20px;
  background-color: white;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}
.accordion_tab :hover {
  cursor: pointer;
}
.accordion_tab + .closed {
  /* messy */
  max-height: 0px;
  padding-bottom: 0;
  background-color: #dfdfdf;
  background-image: -webkit-linear-gradient(white, white, #dfdfdf);
  background-image: -o-linear-gradient(white, white, #dfdfdf);
  background-image: linear-gradient(white, white, #dfdfdf);
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}
/* ############################# page specific ############################# */
.home > .banner {
  height: 70%;
  background-image: url(../images/banner_home.jpg);
  background-position: left 70%;
  background-size: cover;
}
@media screen and (max-width: 983px) {
  .home > .banner {
    height: 35%;
  }
}
.about > .banner {
  height: 70%;
  background-image: url(../images/banner_about_us.jpg);
  background-position: left 0;
  background-size: cover;
}
@media screen and (max-width: 983px) {
  .about > .banner {
    height: 35%;
  }
}
.meetings > .banner {
  height: 45%;
  background-image: url(../images/banner_meetings.jpg);
  background-position: left 0;
  background-size: cover;
}
@media screen and (max-width: 983px) {
  .meetings > .banner {
    height: 22%;
  }
}
.contact > .banner {
  height: 45%;
  background: url(../images/banner_contact_phonebox.png) no-repeat, url(../images/banner_contact_tiled.jpg) repeat-x;
  background-position: 60% 0;
  height: 40%;
  background-size: contain;
}
@media screen and (max-width: 983px) {
  .contact > .banner {
    height: 22%;
  }
}
.english > .banner {
  height: 45%;
  background-image: url(../images/banner_english.svg);
  background-position: left 0;
  background-size: cover;
}
@media screen and (max-width: 983px) {
  .english > .banner {
    height: 22%;
  }
}
.editor {
  background-color: black;
}
.editor form.login {
  background-image: url(../images/swirls.svg);
  background-repeat: repeat;
  background-color: #c1bfc1;
  width: 50%;
  height: 300px;
  padding: 50px 15%;
}
.editor > .banner {
  height: 45%;
}
@media screen and (max-width: 983px) {
  .editor > .banner {
    height: 22%;
  }
}
.editor > .banner.login {
  position: relative;
  height: 100%;
}
.editor > .banner::after {
  content: "";
  background-image: url(../images/banner_editor_gears.jpg);
  background-position: left 0;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.editor li:not(.english) {
  padding: 24px 20px 0 0;
}
