/* logo */
/* BG images */
/* patterns */
/* colours */
/* fonts */
/* ########################### Browser reset ########################### */
html,
body {
  position: absolute;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
body,
body * {
  outline: 0;
  border: 0 none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  list-style-type: none;
}
/* ############################# main tags ############################# */
body {
  background-color: grey;
}
main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* ///////////////////////////////// page specific ///////////////////////////////// */
  /* ############################# home ############################# */
}
main.home {
  background: url(../images/BG_home.jpg) no-repeat 0 50%;
  background-size: cover;
}
header,
footer {
  position: relative;
  background-color: #423f42;
  background-image: url(../images/noise.svg);
  background-repeat: repeat;
  width: 100%;
}
header {
  min-height: 100px;
  padding: 2% 0 2% 0;
}
footer {
  height: 25px;
  padding: 5px;
}
article {
  height: 100%;
  width: 100%;
  background-image: url(../images/swirls.svg);
  background-repeat: repeat;
  background-color: white;
  padding: 1%;
}
article.editor {
  background-color: #c1bfc1;
}
h1 {
  color: white;
  text-align: left;
  width: auto;
  font-size: 100px;
  /* ############################# logo ############################# */
}
h1 > small {
  font-size: 50px;
  color: white;
}
h1.logo {
  float: left;
  display: block;
  min-height: 50px;
  min-width: 129px;
  vertical-align: center;
}
h1.logo a {
  background: url(../images/Rodem_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline;
  width: 129px;
  height: 50px;
  display: block;
  text-indent: -9999px;
}
h1,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
p {
  font-family: 'Roboto Slab', serif;
  font-size: 14;
  color: #423f42;
}
a {
  color: grey;
}
a > small {
  font-size: smaller;
  color: #ff694c;
}
/* ############################# utility classes ############################# */
.center-block {
  float: none;
}
.CTA_area {
  background-color: #189ef9;
  text-align: right;
}
.btn {
  position: relative;
  border-radius: 0;
  padding: 3px 12px;
  background-color: #333333;
  box-shadow: 0 4px #000000;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.btn:active {
  top: 4px;
  box-shadow: none;
}
.btn.btn-CTA {
  background-color: #ff694c;
  box-shadow: 0 4px #992500;
  text-shadow: 0 -1px #992500;
}
.btn.btn-CTA:active {
  top: 4px;
  box-shadow: none;
}
.btn.btn-CTA:visited {
  color: white;
}
.btn.btn-CTA:hover {
  color: #ffffff;
}
.btn.btn-ADD {
  padding: 3px 10%;
  background-color: #189ef9;
  box-shadow: 0 4px #00305e;
  text-shadow: 0 -1px #00305e;
}
.btn.btn-ADD:after {
  font-size: 17px;
  content: " +";
}
.btn.btn-ADD:active {
  top: 4px;
  box-shadow: none;
}
.btn.btn-ADD:visited {
  color: white;
}
.btn.btn-ADD:hover {
  color: #94d2fc;
}
.user-type {
  color: #837d83;
  font-weight: lighter;
  font-family: 'Roboto Condensed', sans-serif;
}
/* ############################# nav styles ############################# */
nav {
  float: right;
}
nav li {
  position: relative;
  min-height: 100px;
  min-width: 100px;
  float: left;
  padding: 1% 2.5% 1% 2.5%;
  text-transform: uppercase;
}
nav li.active > a {
  color: white;
}
nav li a {
  color: grey;
}
